//Color Palette
$dark-blue: #192b43;
$shade-blue: #294c71;
$dull-blue: #5d8aa8;
$blue: #61b3e7;
$gray: #e6e8fa;
$white: #ffffff;
$btn-hover: rgba(97,179,231,0.5);
$main-color: #333;
$font-main: 'Karla', sans-serif;
$container-size: 960px;



html,
body {
    margin: 0;
    padding: 0;
    font-family: $font-main;
    scroll-behavior: smooth;
}

.header {
    background-color: $dark-blue;
    height: 100vh;
    .container {
        width: $container-size;
        margin: auto;
    }
    .container-wrapper {
        padding: 1em 1.5em;
        .nav {
            ul {
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: center;
                li {
                    margin: 0;
                    padding: 0;
                    display: inline;
                    padding: 1em 2em;
                    vertical-align: middle;
                    font-family: $font-main;
                    font-size: 1.25em;
                    a{
                        color: $white;
                        &:hover {
                            color: $blue;
                        }
                    }
                }
            }
        }
        .intro-home {
            width: 520px;
            margin: auto;
            padding: auto;
            display: flex;
        }
        .intro-wrapper {
            margin-top: 10em;
            .intro-image {
                img {
                    height: 140px;
                    width: 140px;
                }
            }
            .intro-desc {
                margin-left: 1.75em;
                .speech-bubble {
                    position: relative;
                    border-radius: .4em;
                    border: 2px solid $blue;
                    width: 300px;
                    padding: .75em .75em .75em 1.3em;
                    color: white;
                    font-family: $font-main;
                    font-size: 1.15em;
                }
                .speech-bubble:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    width: 0;
                    height: 0;
                    border: 10px solid transparent;
                    border-right-color: $blue;
                    border-left: 0;
                    margin-top: -10px;
                    margin-left: -10px;
                }
                .contact-icons {
                    margin-top: 1em;
                    text-align: center;
                    img {
                        height: 40px;
                        width: 40px;
                        margin: 0 .25em;
                    }
                }
            }
        }
    }
}

#about {
    .container {
        width: $container-size;
    }
    .container-wrapper {
        margin: 4em auto;
        display: flex;
        .about-text {
            width: 460px;
            padding: 2em;
            h2{
                color: $dull-blue;
                font-size: 1.75em;
                margin-bottom: 1em;
                font-family: $font-main;
                font-weight: 600;
            }
            span {
                font-family: $font-main;
                color: $main-color;
                font-size: 1.10em;
                line-height: 36px;
            }
        }
        .about-image {
            margin: auto;
            img {
                max-width: 100%;
                width: 450px;
                height: auto;
            }
        }
    }
}

#projects {
    background-color: $dark-blue;
    .container {
        width: $container-size;
        margin: auto;
    }
    .container-wrapper {
        padding: 2em;
        h2 {
            font-family: $font-main;
            color: $blue;
            font-size: 1.75em;
            font-weight: 600;
            margin-bottom: 1.55em;
        }
        .projects-grid {
            display: grid;
            grid-template-columns: repeat(2, 450px);
            grid-template-rows: auto;
            grid-row-gap: 3em;
            .prj-image {
                padding: 1em;
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
            .prj-desc {
                padding: 2em 1.35em;
                font-family: $font-main;
                p {
                    color: $white;
                    font-size: 1.25em;
                }
                a {
                    font-size: 1.35em;
                    color: $blue;
                    padding: .25em;
                    &:hover {
                        color: $white;
                        border-bottom: 2px solid $white;
                    }
                }
            }
        }
    }
}

#tech-stack {
    background-color: $gray;
    .container {
        margin: auto;
        padding: 3em 1em;
        .tech-flex {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            img {
                height: 110px;
                width: 110px;
            }
        }
    }
}

.footer-wrapper {
    background-color: $dark-blue;
    color: $white;
    margin: auto;
    padding: 1em;
    font-family: $font-main;
    text-align: center;
}

#js-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}